<h2>Page Title</h2>

<button ng-click="DownloadCsv()">CSV</button>
<button ng-click="DownloadExcel()">Excel</button>
<table>
    <thead>
        <tr>
            <th>Page</th>
            <th>Title</th>
            <th>Created At</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="page in Pages">
            <td>{{page.PageFormatted}}</td>
            <td>{{page.Title}}</td>
            <td>{{page.CreatedFormatted}}</td>
            <td><a ui-sref="page_item({page:page.PageFormatted.toLowerCase()})">Edit</a></td>
            <td><a href="" ng-click="Delete(page)">Delete</a></td>
        </tr>
    </tbody>
</table>