<h2>PageItem</h2>

<div>
    <label>Name: </label>
    <label>{{::page.PageFormatted}}</label>
</div>
<div>
    <label>Title: </label>
    <label>{{::page.Title}}</label>
</div>
<div>
    <label>Description: </label>
    <label>{{::page.Description}}</label>
</div>
<div>
    <label>Created At: </label>
    <label>{{::page.Created}}</label>
</div>
<br>
<form name="formPageTitle">
    <div>
        <label for="page.Title">Title:</label>
        <input type="text" ng-model="page.Title" placeholder="Enter the Title" required />
    </div>
    <div>
        <label for="page.Description">Description:</label>
        <textarea type="text" ng-model="page.Description" placeholder="Enter the Description"></textarea>
    </div>
    <div>
        <label for="page.Page">Page</label>
        <select ng-disabled="page.Id" ng-model="page.Page" ng-options="_page for _page in pages track by _page" required></select>
    </div>
    <div>
        <label for="page.Language">Language</label>
        <select ng-disabled="page.Id" ng-model="page.Language" ng-options="language for language in languages track by language"
            required></select>
    </div>
    <div ng-show="MediaChanged()">
        <img ng-show="page.MediaType=='Image'" ng-src="{{page.MediaValue}}" width="200px" alt="">
        <a ng-href="#" ng-click="page.MediaChange=true">Change</a>
    </div>
    <div ng-hide="MediaChanged()">
        <div>
            <label for="page.MediaType">Media Type</label>
            <select ng-model="page.MediaType" ng-options="media for media in medias track by media" required></select>
        </div>
        <div ng-hide="DisplayFileInput()">
            <label for="page.MediaValue">Value:</label>
            <input type="text" ng-model="page.MediaValue" placeholder="Media Value" />
        </div>
        <div ng-show="DisplayFileInput()">
            <label for="page.MediaValue">Value:</label>
            <input type="file" ng-model="page.MediaValue" accept="{{page.MediaType=='Image'?'.jpg,.png,.jpeg':'.*'}}" placeholder="Media Value"
                name="page.MediaValue" file-upload="page.MediaValue" />
        </div>
    </div>
    <div>
        <input type="submit" value="Save" ng-disabled="formPageTitle.$invalid" ng-click="Save()">
    </div>
</form>
<br>
<label for="">{{message}}</label>
<br>
<a ng-show="page.Id" ui-sref="highlight_new({Page:page.Page.toLowerCase(),Language:page.Language.toLowerCase()})">Add Highlight</a>
<h4>Highlights</h4>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Created At</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="highlight in highlights">
            <td>{{highlight.Title}}</td>
            <td>{{highlight.Created}}</td>
            <td><a ui-sref="highlight_edit({Page:page.Page.toLowerCase(),Language:page.Language.toLowerCase(),Id:highlight.Id})">Edit</a></td>
            <td><a href="" ng-click="Delete(highlight)">Delete</a></td>
        </tr>
    </tbody>
</table>
<div><label for="">Showing {{highlightTotal()>10?'10':highlightTotal()}} of {{highlightTotal()}} itens</label></div>
<div>
    <a href="" ng-repeat="x in pagesCount()" ng-click="changePage($index+1)">{{$index+1}}</a>
</div>