<h2>Page Highlight</h2>
<br>
<form name="formPageHighlight">
    <div>
        <label for="highlight.Title">Title:</label>
        <input type="text" ng-model="highlight.Title" placeholder="Enter the Title" required />
    </div>
    <div>
        <label for="highlight.Description">Description:</label>
        <textarea type="text" ng-model="highlight.Description" placeholder="Enter the Description"></textarea>
    </div>
    <div>
        <label for="highlight.Language">Language</label>
        <select ng-model="highlight.Language" ng-options="language for language in languages track by language" required></select>
    </div>
    <div ng-show="MediaChanged()">
        <img ng-show="highlight.MediaType=='Image'" ng-src="{{highlight.MediaValue}}" width="200px" alt="">
        <a ng-href="#" ng-click="highlight.MediaChange=true">Change</a>
    </div>
    <div ng-hide="MediaChanged()">
        <div>
            <label for="highlight.MediaType">Media Type</label>
            <select ng-model="highlight.MediaType" ng-options="media for media in medias track by media" required></select>
        </div>
        <div ng-hide="DisplayFileInput()">
            <label for="highlight.MediaValue">Value:</label>
            <input type="text" ng-model="highlight.MediaValue" placeholder="Media Value" />
        </div>
        <div ng-show="DisplayFileInput()">
            <label for="highlight.MediaValue">Value:</label>
            <input type="file" ng-model="highlight.MediaValue" accept="{{highlight.MediaType=='Image'?'.jpg,.png,.jpeg':'.*'}}" placeholder="Media Value"
                name="highlight.MediaValue" file-upload="highlight.MediaValue" />
        </div>
    </div>
    <div>
        <input type="submit" value="Save" ng-disabled="formPageHighlight.$invalid" ng-click="Save()">
    </div>
</form>
<br>
<label for="">{{message}}</label>