<ol class="breadcrumb">
    <li><a ui-sref="app">Home</a></li>
    <li class="active">Sign Up</li>
</ol>
<div class="page-header">
    <h1>Register</h1>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="formRegister">
            <div class="form-group">
                <label for="user.Name">Name</label>
                <input type="text" class="form-control" ng-model="user.Name" maxlength="150" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
                <label for="user.Email">Email</label>
                <input type="email" class="form-control" ng-model="user.Email" maxlength="100" placeholder="Enter Your Email" required>
            </div>
            <div class="form-group">
                <label for="user.Username">Username</label>
                <input type="text" class="form-control" ng-model="user.Username" maxlength="150" placeholder="Enter Your Username" required>
            </div>
            <div class="form-group">
                <label for="user.Password">Password</label>
                <input type="password" class="form-control" ng-model="user.Password" pattern="^(([a-zA-Z]+\d+)|(\d+[a-zA-Z]+))[a-zA-Z0-9]*$"
                    minlength="8" maxlength="12" placeholder="Enter Your Password" required>
            </div>
            <input type="submit" value="Register" class="btn btn-default pull-right" ng-disabled="formRegister.$invalid" ng-click="Save()">
        </form>
    </div>
</div>
<div class="row m-t-20" ng-show="message">
    <div class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
    </div>
</div>